@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body,html{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;

    color: #99771a;
}
.navbar-brad img{
    width: 250px;
}
#navbarResponsive {
    padding-left: 20px;
}
A {
    color: red; /* Цвет ссылок */
}
A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
}
A:active {
    color: #ffff00; /* Цвет активных ссылок */
